run = "npm run dev"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[agent]
expertMode = true
